###### 1. Java ######
# Compiled class file
*.class

# Log file
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


###### 2. IDEA ######
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839
.idea/
*.iml

# CMake
cmake-build-*/

# IntelliJ
out/


###### 3. VS Code ######
.vscode/


###### 4. Project Specific ######
